# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env/
.venv/
venv/
ENV/
env/

# Environment variables
.env

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/


# Logs
*.log

# Misc
*.swp
*.swo