numpy~=1.26.4
networkx~=3.5
langchain-core~=0.3.76
rdflib~=7.2.1
requests~=2.32.5
urllib3~=2.5.0
python-dotenv~=1.1.1
langchain-graph-retriever~=0.8.0
langchain-huggingface~=0.3.1
sentence-transformers~=5.1.1
langchain-ollama~=0.2.0
